---
export const prerender = true;

import Layout from "@components/Layout.astro";
import { getPosts } from "@utils/posts";
import { formatDate } from "@utils/format";

const posts = await getPosts();
---

<Layout
	title="Projects - Pilcrow"
	description="Some projects and libraries I maintain"
>
	<h1 class="text-5xl font-bold">Blog</h1>
	<p class="mt-4 text-zinc-800">I occasionally write about... stuff.</p>
	<div class="mt-10 grid gap-y-6">
		{
			posts
				.sort((a, b) => b.metaData.date.getTime() - a.metaData.date.getTime())
				.map((post) => {
					return (
						<article class="group ">
							<a href={post.href} class="block">
								<div class="flex place-items-center gap-x-1">
									<h2 class="w-fit text-lg font-medium group-hover:underline">
										{post.metaData.title}
									</h2>
								</div>
								<p class=" text-zinc-500">{post.metaData.description}</p>
							</a>
						</article>
					);
				})
		}
	</div>
</Layout>
