---
import Layout from "@components/Layout.astro";
---

<Layout title="Pilcrow" description="Pilcrow's personal website">
	<section class="mt-12">
		<p class="mt-6 text-zinc-800">
			<span class="font-semibold">Hi there, I'm Pilcrow!</span> I think I'm best "known"
			for my work on authentication, but I'm interested in anything web dev... well
			maybe except CSS. When I don't have VSCode or Github open, I enjoy taking photos, drawing,
			playing games, traveling, and cooking. Italian food is my favorite.
		</p>
		<p class="mt-4 text-zinc-800">
			Feel free to message me on Twitter or Discord!
		</p>
		<ul class="mt-4 flex gap-x-3">
			<li>
				<a
					class="hover:underline hover:text-main text-zinc-400"
					href="https://twitter.com/pilcrowonpaper"
					target="_blank">Twitter</a
				>
			</li>
			<li>
				<a
					class="hover:underline hover:text-main text-zinc-400"
					href="https://github.com/pilcrowOnPaper"
					target="_blank">Github</a
				>
			</li>
			<li>
				<a
					class="hover:underline hover:text-main text-zinc-400"
					href="https://www.youtube.com/@pilcrowonpaper"
					target="_blank"
					>Youtube
				</a>
			</li>
		</ul>
	</section>
</Layout>
