---
import GithubIcon from "../components/icons/GithubIcon.astro";
import TwitterIcon from "../components/icons/TwitterIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
import Repo from "../components/Repo.astro";
import TechIcon from "../components/TechIcon.astro";
import techList from "../data/tech.json";
import { BUILD_ID } from "../utils/build";

const repositoriesResponse = await fetch(
  `${Astro.url.origin}/api/github/pinned-repository?${new URLSearchParams({
    build_id: BUILD_ID,
  }).toString()}`
);
if (!repositoriesResponse.ok)
  return new Response(JSON.stringify({ error: "Failed to fetch data" }), {
    status: 500,
  });
const repositories = (await repositoriesResponse.json()) as Repository[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/profile.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>pilcrow</title>
  </head>
  <body class="max-w-3xl mx-auto py-16 px-4">
    <div class="flex gap-x-2 sm:gap-x-4 place-items-center">
      <img
        src="/pilcrow-pfp.png"
        alt="profile picture"
        class="w-24 h-24 sm:w-36 sm:h-36 rounded-full border hover:scale-105 hover:ease-in transition duration-300"
      />
      <div class="sm:mt-4">
        <h1 class="text-3xl sm:text-4xl font-bold">Hi, I'm pilcrow</h1>
        <p class="mt-2">
          Just a random little developer from Japan exploring the world
        </p>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row mt-10 gap-x-2 sm:gap-x-6">
      <div class="sm:pt-8">
        <ul
          class="flex flex-row place-content-end sm:place-content-start sm:flex-col gap-x-1 sm:gap-y-2 my-1 sm:my-0"
        >
          <li>
            <a
              href="https://github.com/pilcrowOnPaper"
              aria-label="Link to Github profile"
              ><GithubIcon />
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/pilcrowonpaper"
              aria-label="Link to Twitter profile"
              ><TwitterIcon />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/@pilcrowonpaper"
              aria-label="Link to Youtube page"
              ><YoutubeIcon />
            </a>
          </li>
        </ul>
      </div>
      <div class="flex-grow">
        <section class="flex flex-col gap-y-4">
          {repositories.map((repository) => <Repo repository={repository} />)}
        </section>
        <section class="mt-8">
          <h2 class="text font-semibold">Things I enjoy using</h2>
          <div class="flex my-1 gap-x-1">
            {techList.map((tech) => <TechIcon tech={tech} />)}
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
