---
export const prerender = true;

import GithubIcon from "@components/icons/GithubIcon.astro";
import TwitterIcon from "@components/icons/TwitterIcon.astro";
import YoutubeIcon from "@components/icons/YoutubeIcon.astro";
import Layout from "@components/Layout.astro";
---

<Layout title="Pilcrow" description="Pilcrow's personal website">
	<h1 class="text-4xl sm:text-6xl font-semibold">Hi, I'm Pilcrow</h1>
	<p class="mt-4 text-lg text-zinc-800">
		A developer from Japan interested in anything web dev.
	</p>
	<ul class="mt-2 flex gap-x-2">
		<li>
			<a
				href="https://twitter.com/pilcrowonpaper"
				aria-label="Link to Twitter profile"
				target="_blank"
				><TwitterIcon />
			</a>
		</li>
		<li>
			<a
				href="https://github.com/pilcrowOnPaper"
				aria-label="Link to Github profile"
				target="_blank"
				><GithubIcon />
			</a>
		</li>
		<li>
			<a
				href="https://www.youtube.com/@pilcrowonpaper"
				aria-label="Link to Youtube page"
				target="_blank"
				><YoutubeIcon />
			</a>
		</li>
	</ul>
	<section class="mt-12">
		<h2 class="text-3xl sm:text-4xl font-medium">About me</h2>
		<p class="mt-4 text-zinc-800">
			I'm relatively new to the world of web dev and programming in general, but
			I've gained a lot of experience from maintaining open source projects and
			their documentation sites. I like types, utility classes, multi-page
			applications, markdown, and Safari. I think I'm a fullstack developer but
			I still have a lot to learn about accessibility and architecture design.
		</p>
		<p class="mt-4 text-zinc-800">
			When I don't have VSCode or Github open, I enjoy taking photos, drawing,
			playing games, traveling, and cooking. Italian cuisine is my favorite.
		</p>
		<p class="mt-4 text-zinc-800">Feel free to message me on Twitter or Discord!</p>
	</section>
</Layout>
