---
import Layout from "@components/Layout.astro";
import { BUILD_ID } from "@utils/build";
const { format: formatNumber } = new Intl.NumberFormat("en-US");

import type { Projects } from "../utils/github";

const apiUrl = new URL(
	"/api/projects",
	import.meta.env.DEV ? Astro.url.origin : import.meta.env.PROD_DOMAIN
);
apiUrl.searchParams.set("build_id", BUILD_ID);
const response = await fetch(apiUrl);
if (!response.ok) {
	return new Response(JSON.stringify({ error: "Failed to fetch data" }), {
		status: 500
	});
}

const projects: Projects = await response.json();
---

<Layout
	title="Projects - Pilcrow"
	description="Some projects and libraries I maintain"
>
	<h1 class="text-4xl font-semibold sm:text-6xl">Projects</h1>
	<p class="mt-4 text-zinc-800">
		Here are some projects and libraries I created. I usually put extensive
		efforts into writing documentation when maintaining libraries.
	</p>
	<div class="mt-10 grid gap-y-6">
		{
			projects.map((project) => {
				return (
					<article>
						<div class="flex place-items-center gap-x-1">
							<a href={project.repositoryUrl} class="block w-fit ">
								<h2 class="w-fit text-2xl font-medium hover:text-indigo-500 hover:underline">
									{project.name}
								</h2>
							</a>
						</div>
						<p class="text-zinc-800">{project.description}</p>
						<p class="mt-1 text-sm leading-none text-zinc-500">
							{formatNumber(project.stars)} stars
						</p>
					</article>
				);
			})
		}
	</div>
</Layout>
