---
import Layout from "@components/Layout.astro";
import { BUILD_ID } from "@utils/build";
const { format: formatNumber } = new Intl.NumberFormat("en-US");

import type { Projects } from "../utils/github";

const apiUrl = new URL("/api/projects", Astro.url.origin);
apiUrl.searchParams.set("build_id", BUILD_ID);
const response = await fetch(apiUrl);
if (!response.ok) {
	return new Response(JSON.stringify({ error: "Failed to fetch data" }), {
		status: 500
	});
}

const projects: Projects = await response.json();
---

<Layout
	title="Projects - Pilcrow"
	description="Some projects and libraries I maintain"
>
	<h1 class="text-5xl sm:text-6xl font-bold">Projects</h1>
	<p class="mt-4 text-zinc-800">
		Here are some projects and libraries I created.
	</p>
	<div class="mt-10 grid gap-y-6">
		{
			projects.map((project) => {
				return (
					<article class="group rounded-lg border border-zinc-200 p-4">
						<a href={project.repositoryUrl} class="block">
							<div class="flex place-items-center gap-x-1">
								<h2 class="w-fit text-xl font-semibold">{project.name}</h2>
							</div>
							<p class="text-zinc-800 mt-0.5">{project.description}</p>
							<div class="mt-1 flex place-content-between place-items-center">
								<p class="text-main group-hover:underline">Visit</p>
								<p class="mt-1 text-sm leading-none text-zinc-500">
									{formatNumber(project.stars)} stars
								</p>
							</div>
						</a>
					</article>
				);
			})
		}
	</div>
</Layout>
