---
import Layout from "@components/Layout.astro";

import projects from "../projects.json";
---

<Layout
	title="Projects - Pilcrow"
	description="Some projects and libraries I maintain"
>
	<h1 class="text-5xl font-bold">Projects</h1>
	<div class="mt-10 grid gap-y-6">
		{
			projects.map((project) => {
				return (
					<article class="group">
						<a
							href={new URL(project.repository, "https://github.com")}
							class="block"
						>
							<div class="flex place-items-center gap-x-1">
								<h2 class="w-fit text-lg font-medium group-hover:underline">
									{project.name}
								</h2>
							</div>
							<p class="-mt-0.5 text-zinc-500">{project.description}</p>
						</a>
					</article>
				);
			})
		}
	</div>
</Layout>
