---
import type TechList from "../data/tech.json";

interface Props {
  tech: typeof TechList[number];
}

const { url, img, name } = Astro.props.tech;
---

<a
  href={url}
  class="block cursor-pointer hover:scale-105 w-6 h-6 hover:ease-in transition duration-75"
>
  <img src={img} class="object-contain w-full h-full" alt={`${name} logo`} />
</a>
